<?xml version="1.0"?>
  <connectionStrings>   
    <add name="RentPaymentConnectionExpress" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;" providerName="System.Data.SqlClient"/>
    <add name="ForecastAzureConnection" connectionString="Data Source=rentml.database.windows.net,1433;Database=TruliaProperty;User ID=rentml;Password=mlrent-1404"  providerName="System.Data.SqlClient"/>
  </connectionStrings>